---
// Component Imports
import Hero from '@/components/hero.astro';
import About from '@/components/about.astro';
import MainLayout from '@/layouts/main.astro';
import Projects from '@/components/projects.astro';
import Resume from '@/components/resume.astro';
import Contact from '@/components/contact.astro';
import Footer from '@/components/footer.astro';
import Favorites from '@/components/favorites.astro';
---

<MainLayout title="Becky's Portfolio">
	<div id="top" class="mb-0 pb-20">
		<Hero />
	</div>
	<section id="about-section" class="pb-20">
		<About />
	</section>
	<section id="projects-section" class="pb-20">
		<Projects />
	</section>
	<section id="resume-section" class="pb-20">
		<Resume />
	</section>
	<section id="favorites-section" class="pb-20">
		<Favorites />
	</section>
	<section id="contact-section" class="pb-20">
		<Contact />
	</section>
	<Footer />
</MainLayout>
