<div id="about" class="mx-auto px-0 text-lg text-primary-foreground">
    <section
        class="flex flex-col items-center justify-center pt-40 text-center"
    >
        <h1 class="text-4xl font-bold text-primary-foreground">
            About Me
        </h1>
        <p class="text-lg text-primary-foreground mt-3 max-w-prose px-4">
            Hello and welcome to my personal website! I'm glad you're here 🙂 <br>
            By day, I'm a product manager at Octane11, based in Indianapolis. <br>
            In my free time, I'm exploring AI-assisted coding and writing about the intersections of Christianity and technology. <br>
        </p>
    </section>
</div>
