---
import { Card } from "@/components/ui/card";
---

<div id="about" class="mx-auto px-0 text-lg text-primary-foreground">
    <section class="flex flex-col items-center justify-center text-center">
        <h1 class="text-4xl font-bold text-primary-foreground">about me</h1>
        <p
            class="text-lg text-left text-primary-foreground mt-3 max-w-screen-md px-4"
        >
            <strong class="text-accent">Hello and welcome to my personal website!</strong> I’m glad you’re
            here 🙂
        </p>
        <p
            class="text-lg text-left text-primary-foreground mt-3 max-w-screen-md px-4"
        >
            By day, I’m a product manager, 
            driving end-to-end product development. 
            I focus on deeply understanding user needs, 
            bridging design and engineering, and ensuring fast, 
            high-quality execution to build products customers love.
        </p>
        <p
            class="text-lg text-left text-primary-foreground mt-3 max-w-screen-md px-4"
        >
            On the side, I'm building apps and websites with AI and write about
            the intersections of Christianity and technology. I’m endlessly
            curious about the world and the people in it, because I know we were placed
            in this moment in time for a reason.
        </p>
        <p
            class="text-lg text-left text-primary-foreground mt-3 max-w-screen-md px-4"
        >
            In my free time, I’m with family,
            gathering eggs from my backyard chickens,
            listening to podcasts,
            meeting friends at a coffee shop (for the vibes, not the coffee),
            or playing a board game.
        </p>
    </section>
</div>
