---
import { Socials } from "@/components/ui/socials";
---

<div id="connect" class="mx-auto px-0 text-lg text-primary-foreground">
    <section
        class="max-w-screen-md mx-auto px-4 flex flex-col items-center justify-center max-w-screen-md"
    >
        <h1 class="text-4xl font-bold text-primary-foreground mb-6 text-center">
            connect with me
        </h1>
        <p class="text-base md:text-lg text-primary-foreground mt-3">
            I'm always looking to connect with like-minded individuals. Please
            reach out to me via any of the following channels. I'm looking
            forward to hearing from you!
        </p>
    </section>
</div>
<Socials />
