---
const currentYear = new Date().getFullYear();
---

<footer class="mx-auto py-6 mt-12 border-t border-border bg-background">
    <div class="flex justify-center">
        <div class="text-sm text-muted-foreground">
            © {currentYear} • All rights reserved
        </div>
    </div>
</footer>

