---
import { ProjectCard } from "@/components/ui/project-card";
---

<div id="projects" class="mx-auto px-0 text-lg text-primary-foreground">
    <section class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-primary-foreground mb-6 text-center">
            projects
        </h1>
        <div
            class="max-w-screen-md mx-auto p-4 w-full grid gap-6 md:grid-cols-2"
        >
            <ProjectCard
                client:load
                title="bibleplan.app"
                description="A Bible reading plan generator that allows for complete flexibility in what you read and when. I've implemented user auth, database support, and real-time plan tracking."
                logoSrc="/images/logos/bibleplan-logo.png"
                techStack="Next.js, DaisyUI, Supabase, Cursor"
                projectUrl="https://bibleplan.app?ref=becky-personal-website"
            />

            <ProjectCard
                client:load
                title="Wellspring Archive Directory"
                description="A directory website to share Christian resources. Created using programmatically generated pages. I've also created an admin dashboard to help me easily add new listings."
                logoSrc="/images/logos/wellspring-archive-logo.png"
                techStack="Next.js, Shadcn/UI, Supabase, Cursor, Wisp CMS"
                projectUrl="https://wellspringarchive.com?ref=becky-personal-website"
            />

            <ProjectCard
                client:load
                title="Wellspring Archive Substack"
                description="I write about the intersections of faith and technology on Substack. I'm using Substack as a launchpad for the Wellspring Archive website."
                logoSrc="/images/logos/wellspring-archive-logo.png"
                techStack="Substack"
                projectUrl="https://wellspringarchive.substack.com?ref=becky-personal-website"
            />
        </div>
    </section>
</div>
