---
import "@/styles/global.css";
import { ThemeProvider } from "@/components/ui/theme-context";
import Footer from "@/components/footer.astro";
import Head from "@/components/head.astro";
import ThemeToggle from "@/components/ui/theme-toggle";


const { title, description, publishDate, author, isBlogPage } = Astro.props;
---

<html lang="en">
    <Head 
        title={title} 
        description={description} 
        publishDate={publishDate} 
        author={author} 
        isBlogPage={isBlogPage || true}
    />
  <body class="bg-background text-foreground">
    <ThemeProvider>
      <div class="fixed top-4 right-4 z-50">
        <ThemeToggle client:visible />
      </div>
      <slot />
      <Footer />
    </ThemeProvider>
  </body>
</html>
