---
import "../styles/global.css";
import Footer from "@/components/footer.astro";
import { SEO } from "astro-seo";
const { title, description } = Astro.props;
---

<html lang="en" class="light">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        
        <SEO
            title={title}
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: "article",
                    image: "/opengraph-image.png",
                    url: Astro.url.href,
                },
                optional: {
                    description: description,
                    siteName: "Becky's Blog",
                }
            }}
            twitter={{
                card: "summary",
                title: title,
                description: description,
            }}
            extend={{
                link: [
                    { rel: "canonical", href: Astro.url.href },
                ],
                meta: [
                    { name: "author", content: "Becky" },
                    { name: "robots", content: "index, follow" },
                ],
            }}
        />

        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>👋</text></svg>"
        />
    </head>
    <body class="bg-background text-foreground">
        <slot />
        <Footer />
    </body>
</html>
