---
import "@/styles/global.css";
import Head from "@/components/head.astro";
---

<html lang="en">
    <Head
        title="Private Blog Publisher"
        description="A private blog publisher for Becky's personal website"
        isBlogPage={false}
    />
    <body class="bg-background text-foreground">
        <main class="py-12 container mx-auto px-4 max-w-6xl">
            <slot />
        </main>
    </body>
</html>
