---
import "@/styles/global.css";
import Head from "@/components/head.astro";
import ThemeToggle from "@/components/ui/theme-toggle";
import { ThemeProvider } from "@/components/ui/theme-context";
---

<html lang="en">
    <Head
        title="Private Blog Publisher"
        description="A private blog publisher for Becky's personal website"
        isBlogPage={false}
    />
    <body class="bg-background text-foreground">
        <ThemeProvider>
            <div class="fixed top-4 right-4 z-50">
                <ThemeToggle client:visible />
            </div>
            <main class="py-12 container mx-auto px-4 max-w-6xl">
                <slot />
            </main>
        </ThemeProvider>
    </body>
</html>
